<!-- views/index.ejs -->
<meta charset="UTF-8">
<h3>My first flask oauth app</h3>
<% if(user) { %>
    <p>Greetings, <%= user.displayName %>! <a href="/logout">Click to logout</a></p>
<% } else { %>
	<p><a href="/login">Click here to login</a></p>
<% } %>
